<a href="https://colab.research.google.com/github/Ragav5108/Datascience_internship/blob/main/Pandas_csv_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [5]:
# Load the dataset
df = pd.read_csv('/content/simple_fever_dataset.csv')  # Replace

In [6]:
print("\n--- Head ---")
print(df.head())

--- Head ---
      Name  Age  Gender  Temperature  Fever Duration Cough Cold Headache  \
0   Aditya   69    Male        102.2               7    No  Yes       No
1    Aarya   46    Male        100.3               6    No   No       No
2  Krishna   77  Female        101.8               9    No   No      Yes
3   Saanvi   20  Female        101.0               2   Yes  Yes       No
4   Vihaan   17    Male        103.0              10   Yes  Yes      Yes

  Tested for COVID      Result Medicine Given Recovered
0               No  Not tested            NaN       Yes
1               No  Not tested       Dolo 650       Yes
2              Yes    Negative    Paracetamol        No
3              Yes    Positive            NaN       Yes
4              Yes  Not tested       Dolo 650       Yes

In [7]:
# Tail: last 5 rows
print("\nTail:\n", df.tail())

Tail:
        Name  Age  Gender  Temperature  Fever Duration Cough Cold Headache  \
55  Krishna   38    Male         98.7               2   Yes  Yes       No
56   Saanvi   26    Male        101.2               7    No   No       No
57    Aarya   64    Male        102.8               1   Yes  Yes       No
58     Diya   43  Female        103.7               9    No   No      Yes
59      Ira   29  Female        103.2               2   Yes   No       No

   Tested for COVID      Result Medicine Given Recovered
55              Yes  Not tested         Crocin        No
56              Yes    Positive            NaN        No
57              Yes    Positive         Crocin       Yes
58               No  Not tested    Paracetamol        No
59              Yes  Not tested       Dolo 650       Yes

BASIC INFORMATION

In [8]:
# Info: summary of dataframe
print("\nInfo:")
df.info()

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              60 non-null     object
 1   Age               60 non-null     int64
 2   Gender            60 non-null     object
 3   Temperature       60 non-null     float64
 4   Fever Duration    60 non-null     int64
 5   Cough             60 non-null     object
 6   Cold              60 non-null     object
 7   Headache          60 non-null     object
 8   Tested for COVID  60 non-null     object
 9   Result            60 non-null     object
 10  Medicine Given    46 non-null     object
 11  Recovered         60 non-null     object
dtypes: float64(1), int64(2), object(9)
memory usage: 5.8+ KB

In [ ]:
# Mean: average of each numeric column
print("\nMean:\n", df.mean(numeric_only=True))

Mean:
 Age                36.816667
Temperature       101.073333
Fever Duration      5.483333
dtype: float64

In [ ]:
# Describe: statistical summary
print("\nDescribe:\n", df.describe())

Describe:
              Age  Temperature  Fever Duration
count  60.000000    60.000000       60.000000
mean   36.816667   101.073333        5.483333
std    22.615048     1.683707        3.039244
min     1.000000    98.100000        1.000000
25%    17.750000    99.775000        3.000000
50%    39.500000   101.000000        5.500000
75%    55.250000   102.725000        8.000000
max    80.000000   104.000000       10.000000

In [ ]:
# Standard deviation
print("\nStandard Deviation:\n", df.std(numeric_only=True))

Standard Deviation:
 Age               22.615048
Temperature        1.683707
Fever Duration     3.039244
dtype: float64

SELECTING ROWS AND COLUMNS

In [10]:
# Conditional selection
print(df[df['Age'] > 25])

       Name  Age  Gender  Temperature  Fever Duration Cough Cold Headache  \
0    Aditya   69    Male        102.2               7    No  Yes       No
1     Aarya   46    Male        100.3               6    No   No       No
2   Krishna   77  Female        101.8               9    No   No      Yes
5     Aarya   78  Female        100.3               8    No  Yes      Yes
6    Vihaan   66    Male         98.6               2    No  Yes       No
7     Aryan   40    Male         99.3               3    No   No      Yes
8    Vihaan   30    Male        101.2               4   Yes   No      Yes
9     Rohan   47  Female         98.9               6   Yes  Yes       No
10      Ira   59  Female        101.1               9    No   No       No
11    Dhruv   56  Female         99.4               9    No   No      Yes
13     Diya   31  Female         98.1              10   Yes   No      Yes
15    Dhruv   39    Male        102.8               4   Yes   No       No
18    Anaya   69    Male        103.0               5    No  Yes      Yes
19   Saanvi   41    Male        100.1               2    No   No       No
21     Riya   57  Female        104.0               8   Yes   No      Yes
22   Saanvi   40    Male        103.1               9    No   No      Yes
24     Riya   69  Female        103.9               3    No   No       No
25     Diya   45    Male        102.3               1    No   No       No
26   Vivaan   32    Male        100.6               7    No  Yes       No
27    Aarav   55  Female        103.1               2   Yes   No       No
28    Anaya   58  Female        103.4               1   Yes   No       No
30    Aarav   57    Male        102.7               4    No   No      Yes
31   Saanvi   69  Female         99.0               3   Yes  Yes       No
33  Krishna   40  Female        100.9               1   Yes  Yes       No
36    Anaya   49    Male         98.7               4    No   No       No
39    Arjun   80  Female        101.2               7    No   No       No
40   Vihaan   41    Male         99.7               3    No  Yes      Yes
42   Vihaan   45    Male        101.6               8   Yes   No      Yes
43     Sara   53    Male         98.2               8    No  Yes       No
44     Diya   59    Male         98.8               7   Yes  Yes       No
48   Aditya   39    Male         99.0               3   Yes   No      Yes
50    Meera   45    Male        100.2               9    No  Yes      Yes
52    Anaya   34  Female        101.3               7    No  Yes      Yes
53      Ira   55  Female        101.0               5   Yes   No      Yes
55  Krishna   38    Male         98.7               2   Yes  Yes       No
56   Saanvi   26    Male        101.2               7    No   No       No
57    Aarya   64    Male        102.8               1   Yes  Yes       No
58     Diya   43  Female        103.7               9    No   No      Yes
59      Ira   29  Female        103.2               2   Yes   No       No

   Tested for COVID      Result Medicine Given Recovered
0                No  Not tested            NaN       Yes
1                No  Not tested       Dolo 650       Yes
2               Yes    Negative    Paracetamol        No
5               Yes    Negative       Dolo 650        No
6               Yes    Positive      Ibuprofen       Yes
7               Yes  Not tested      Ibuprofen        No
8               Yes    Negative       Dolo 650        No
9                No  Not tested       Dolo 650       Yes
10               No  Not tested       Dolo 650        No
11              Yes    Positive       Dolo 650        No
13               No  Not tested    Paracetamol       Yes
15               No  Not tested            NaN       Yes
18              Yes    Negative    Paracetamol        No
19               No  Not tested      Ibuprofen       Yes
21              Yes    Positive       Dolo 650       Yes
22               No  Not tested      Ibuprofen       Yes
24               No  Not tested    Paracetamol        No
25              Yes    Negative    Paracetamol        No
26               No  Not tested       Dolo 650        No
27               No  Not tested            NaN        No
28               No  Not tested    Paracetamol       Yes
30               No  Not tested            NaN       Yes
31               No  Not tested    Paracetamol       Yes
33               No  Not tested      Ibuprofen       Yes
36              Yes    Negative            NaN        No
39               No  Not tested            NaN        No
40               No  Not tested            NaN        No
42               No  Not tested      Ibuprofen       Yes
43               No  Not tested       Dolo 650        No
44              Yes  Not tested      Ibuprofen        No
48              Yes  Not tested         Crocin        No
50               No  Not tested    Paracetamol        No
52              Yes  Not tested         Crocin       Yes
53              Yes  Not tested    Paracetamol        No
55              Yes  Not tested         Crocin        No
56              Yes    Positive            NaN        No
57              Yes    Positive         Crocin       Yes
58               No  Not tested    Paracetamol        No
59              Yes  Not tested       Dolo 650       Yes

In [11]:
# Single column
print(df['Age'])

0     69
1     46
2     77
3     20
4     17
5     78
6     66
7     40
8     30
9     47
10    59
11    56
12     7
13    31
14     1
15    39
16    24
17     7
18    69
19    41
20     8
21    57
22    40
23     7
24    69
25    45
26    32
27    55
28    58
29     9
30    57
31    69
32    25
33    40
34    22
35     5
36    49
37    11
38     1
39    80
40    41
41     2
42    45
43    53
44    59
45     7
46     6
47    20
48    39
49    16
50    45
51    18
52    34
53    55
54     6
55    38
56    26
57    64
58    43
59    29
Name: Age, dtype: int64

In [22]:
# Multiple columns
print(df[['Age','Temperature']])

    Age  Temperature
0    69        102.2
1    46        100.3
2    77        101.8
3    20        101.0
4    17        103.0
5    78        100.3
6    66         98.6
7    40         99.3
8    30        101.2
9    47         98.9
10   59        101.1
11   56         99.4
12    7         99.8
13   31         98.1
14    1        100.1
15   39        102.8
16   24        103.5
17    7        100.2
18   69        103.0
19   41        100.1
20    8        100.2
21   57        104.0
22   40        103.1
23    7        103.9
24   69        103.9
25   45        102.3
26   32        100.6
27   55        103.1
28   58        103.4
29    9        103.3
30   57        102.7
31   69         99.0
32   25        102.2
33   40        100.9
34   22         99.1
35    5        103.0
36   49         98.7
37   11        102.0
38    1        100.5
39   80        101.2
40   41         99.7
41    2        100.5
42   45        101.6
43   53         98.2
44   59         98.8
45    7        101.6
46    6        100.4
47   20        100.2
48   39         99.0
49   16        101.9
50   45        100.2
51   18         99.6
52   34        101.3
53   55        101.0
54    6         99.0
55   38         98.7
56   26        101.2
57   64        102.8
58   43        103.7
59   29        103.2

In [23]:
# Selecting rows by index
print(df.iloc[0])  # First row

Name                    Aditya
Age                         69
Gender                    Male
Temperature              102.2
Fever Duration               7
Cough                       No
Cold                       Yes
Headache                    No
Tested for COVID            No
Result              Not tested
Medicine Given             NaN
Recovered                  Yes
Name: 0, dtype: object

#FILTERING AND CONDITION

In [26]:
# Filter with one condition
filtered = df[df['Age'] > 50]
print (filtered)

       Name  Age  Gender  Temperature  Fever Duration Cough Cold Headache  \
0    Aditya   69    Male        102.2               7    No  Yes       No
2   Krishna   77  Female        101.8               9    No   No      Yes
5     Aarya   78  Female        100.3               8    No  Yes      Yes
6    Vihaan   66    Male         98.6               2    No  Yes       No
10      Ira   59  Female        101.1               9    No   No       No
11    Dhruv   56  Female         99.4               9    No   No      Yes
18    Anaya   69    Male        103.0               5    No  Yes      Yes
21     Riya   57  Female        104.0               8   Yes   No      Yes
24     Riya   69  Female        103.9               3    No   No       No
27    Aarav   55  Female        103.1               2   Yes   No       No
28    Anaya   58  Female        103.4               1   Yes   No       No
30    Aarav   57    Male        102.7               4    No   No      Yes
31   Saanvi   69  Female         99.0               3   Yes  Yes       No
39    Arjun   80  Female        101.2               7    No   No       No
43     Sara   53    Male         98.2               8    No  Yes       No
44     Diya   59    Male         98.8               7   Yes  Yes       No
53      Ira   55  Female        101.0               5   Yes   No      Yes
57    Aarya   64    Male        102.8               1   Yes  Yes       No

   Tested for COVID      Result Medicine Given Recovered
0                No  Not tested            NaN       Yes
2               Yes    Negative    Paracetamol        No
5               Yes    Negative       Dolo 650        No
6               Yes    Positive      Ibuprofen       Yes
10               No  Not tested       Dolo 650        No
11              Yes    Positive       Dolo 650        No
18              Yes    Negative    Paracetamol        No
21              Yes    Positive       Dolo 650       Yes
24               No  Not tested    Paracetamol        No
27               No  Not tested            NaN        No
28               No  Not tested    Paracetamol       Yes
30               No  Not tested            NaN       Yes
31               No  Not tested    Paracetamol       Yes
39               No  Not tested            NaN        No
43               No  Not tested       Dolo 650        No
44              Yes  Not tested      Ibuprofen        No
53              Yes  Not tested    Paracetamol        No
57              Yes    Positive         Crocin       Yes

In [29]:
# Multiple conditions (AND)
filtered = df[(df['Age'] > 30) & (df['Gender'] == 'Male')]
print (filtered)

       Name  Age Gender  Temperature  Fever Duration Cough Cold Headache  \
0    Aditya   69   Male        102.2               7    No  Yes       No
1     Aarya   46   Male        100.3               6    No   No       No
6    Vihaan   66   Male         98.6               2    No  Yes       No
7     Aryan   40   Male         99.3               3    No   No      Yes
15    Dhruv   39   Male        102.8               4   Yes   No       No
18    Anaya   69   Male        103.0               5    No  Yes      Yes
19   Saanvi   41   Male        100.1               2    No   No       No
22   Saanvi   40   Male        103.1               9    No   No      Yes
25     Diya   45   Male        102.3               1    No   No       No
26   Vivaan   32   Male        100.6               7    No  Yes       No
30    Aarav   57   Male        102.7               4    No   No      Yes
36    Anaya   49   Male         98.7               4    No   No       No
40   Vihaan   41   Male         99.7               3    No  Yes      Yes
42   Vihaan   45   Male        101.6               8   Yes   No      Yes
43     Sara   53   Male         98.2               8    No  Yes       No
44     Diya   59   Male         98.8               7   Yes  Yes       No
48   Aditya   39   Male         99.0               3   Yes   No      Yes
50    Meera   45   Male        100.2               9    No  Yes      Yes
55  Krishna   38   Male         98.7               2   Yes  Yes       No
57    Aarya   64   Male        102.8               1   Yes  Yes       No

   Tested for COVID      Result Medicine Given Recovered
0                No  Not tested            NaN       Yes
1                No  Not tested       Dolo 650       Yes
6               Yes    Positive      Ibuprofen       Yes
7               Yes  Not tested      Ibuprofen        No
15               No  Not tested            NaN       Yes
18              Yes    Negative    Paracetamol        No
19               No  Not tested      Ibuprofen       Yes
22               No  Not tested      Ibuprofen       Yes
25              Yes    Negative    Paracetamol        No
26               No  Not tested       Dolo 650        No
30               No  Not tested            NaN       Yes
36              Yes    Negative            NaN        No
40               No  Not tested            NaN        No
42               No  Not tested      Ibuprofen       Yes
43               No  Not tested       Dolo 650        No
44              Yes  Not tested      Ibuprofen        No
48              Yes  Not tested         Crocin        No
50               No  Not tested    Paracetamol        No
55              Yes  Not tested         Crocin        No
57              Yes    Positive         Crocin       Yes

In [37]:
# Multiple conditions (OR)
filtered = df[(df['Recovered'] == 'No') | (df['Result'] == 'Negative')]
print (filtered)

       Name  Age  Gender  Temperature  Fever Duration Cough Cold Headache  \
2   Krishna   77  Female        101.8               9    No   No      Yes
5     Aarya   78  Female        100.3               8    No  Yes      Yes
7     Aryan   40    Male         99.3               3    No   No      Yes
8    Vihaan   30    Male        101.2               4   Yes   No      Yes
10      Ira   59  Female        101.1               9    No   No       No
11    Dhruv   56  Female         99.4               9    No   No      Yes
12    Aarav    7    Male         99.8              10    No  Yes       No
16     Riya   24    Male        103.5               5    No   No       No
17   Vihaan    7  Female        100.2              10    No  Yes       No
18    Anaya   69    Male        103.0               5    No  Yes      Yes
24     Riya   69  Female        103.9               3    No   No       No
25     Diya   45    Male        102.3               1    No   No       No
26   Vivaan   32    Male        100.6               7    No  Yes       No
27    Aarav   55  Female        103.1               2   Yes   No       No
29     Riya    9  Female        103.3               9   Yes  Yes       No
32   Vihaan   25    Male        102.2               6   Yes   No      Yes
34      Ira   22  Female         99.1               3    No  Yes      Yes
35  Krishna    5  Female        103.0               8   Yes  Yes       No
36    Anaya   49    Male         98.7               4    No   No       No
38    Anaya    1    Male        100.5              10    No  Yes       No
39    Arjun   80  Female        101.2               7    No   No       No
40   Vihaan   41    Male         99.7               3    No  Yes      Yes
43     Sara   53    Male         98.2               8    No  Yes       No
44     Diya   59    Male         98.8               7   Yes  Yes       No
45    Rohan    7  Female        101.6               2   Yes  Yes       No
47   Vihaan   20  Female        100.2               3    No  Yes      Yes
48   Aditya   39    Male         99.0               3   Yes   No      Yes
49      Ira   16  Female        101.9               7   Yes   No       No
50    Meera   45    Male        100.2               9    No  Yes      Yes
51     Sara   18    Male         99.6               2   Yes  Yes       No
53      Ira   55  Female        101.0               5   Yes   No      Yes
55  Krishna   38    Male         98.7               2   Yes  Yes       No
56   Saanvi   26    Male        101.2               7    No   No       No
58     Diya   43  Female        103.7               9    No   No      Yes

   Tested for COVID      Result Medicine Given Recovered
2               Yes    Negative    Paracetamol        No
5               Yes    Negative       Dolo 650        No
7               Yes  Not tested      Ibuprofen        No
8               Yes    Negative       Dolo 650        No
10               No  Not tested       Dolo 650        No
11              Yes    Positive       Dolo 650        No
12              Yes  Not tested      Ibuprofen        No
16               No  Not tested            NaN        No
17               No  Not tested            NaN        No
18              Yes    Negative    Paracetamol        No
24               No  Not tested    Paracetamol        No
25              Yes    Negative    Paracetamol        No
26               No  Not tested       Dolo 650        No
27               No  Not tested            NaN        No
29              Yes    Positive       Dolo 650        No
32               No  Not tested      Ibuprofen        No
34              Yes    Negative         Crocin        No
35               No  Not tested         Crocin        No
36              Yes    Negative            NaN        No
38               No  Not tested    Paracetamol        No
39               No  Not tested            NaN        No
40               No  Not tested            NaN        No
43               No  Not tested       Dolo 650        No
44              Yes  Not tested      Ibuprofen        No
45              Yes    Negative       Dolo 650        No
47              Yes    Positive            NaN        No
48              Yes  Not tested         Crocin        No
49              Yes    Negative       Dolo 650        No
50               No  Not tested    Paracetamol        No
51               No  Not tested         Crocin        No
53              Yes  Not tested    Paracetamol        No
55              Yes  Not tested         Crocin        No
56              Yes    Positive            NaN        No
58               No  Not tested    Paracetamol        No

HANDLING MISSING DATA

In [38]:
# Check for nulls
print(df.isnull().sum())

Name                 0
Age                  0
Gender               0
Temperature          0
Fever Duration       0
Cough                0
Cold                 0
Headache             0
Tested for COVID     0
Result               0
Medicine Given      14
Recovered            0
dtype: int64

In [40]:
# Drop rows with nulls
df = df.dropna()
print (df)

       Name  Age  Gender  Temperature  Fever Duration Cough Cold Headache  \
1     Aarya   46    Male        100.3               6    No   No       No
2   Krishna   77  Female        101.8               9    No   No      Yes
4    Vihaan   17    Male        103.0              10   Yes  Yes      Yes
5     Aarya   78  Female        100.3               8    No  Yes      Yes
6    Vihaan   66    Male         98.6               2    No  Yes       No
7     Aryan   40    Male         99.3               3    No   No      Yes
8    Vihaan   30    Male        101.2               4   Yes   No      Yes
9     Rohan   47  Female         98.9               6   Yes  Yes       No
10      Ira   59  Female        101.1               9    No   No       No
11    Dhruv   56  Female         99.4               9    No   No      Yes
12    Aarav    7    Male         99.8              10    No  Yes       No
13     Diya   31  Female         98.1              10   Yes   No      Yes
18    Anaya   69    Male        103.0               5    No  Yes      Yes
19   Saanvi   41    Male        100.1               2    No   No       No
21     Riya   57  Female        104.0               8   Yes   No      Yes
22   Saanvi   40    Male        103.1               9    No   No      Yes
23    Dhruv    7  Female        103.9               5   Yes  Yes      Yes
24     Riya   69  Female        103.9               3    No   No       No
25     Diya   45    Male        102.3               1    No   No       No
26   Vivaan   32    Male        100.6               7    No  Yes       No
28    Anaya   58  Female        103.4               1   Yes   No       No
29     Riya    9  Female        103.3               9   Yes  Yes       No
31   Saanvi   69  Female         99.0               3   Yes  Yes       No
32   Vihaan   25    Male        102.2               6   Yes   No      Yes
33  Krishna   40  Female        100.9               1   Yes  Yes       No
34      Ira   22  Female         99.1               3    No  Yes      Yes
35  Krishna    5  Female        103.0               8   Yes  Yes       No
37   Saanvi   11    Male        102.0               7    No  Yes       No
38    Anaya    1    Male        100.5              10    No  Yes       No
41  Krishna    2    Male        100.5              10   Yes   No      Yes
42   Vihaan   45    Male        101.6               8   Yes   No      Yes
43     Sara   53    Male         98.2               8    No  Yes       No
44     Diya   59    Male         98.8               7   Yes  Yes       No
45    Rohan    7  Female        101.6               2   Yes  Yes       No
46      Ira    6    Male        100.4               1    No  Yes      Yes
48   Aditya   39    Male         99.0               3   Yes   No      Yes
49      Ira   16  Female        101.9               7   Yes   No       No
50    Meera   45    Male        100.2               9    No  Yes      Yes
51     Sara   18    Male         99.6               2   Yes  Yes       No
52    Anaya   34  Female        101.3               7    No  Yes      Yes
53      Ira   55  Female        101.0               5   Yes   No      Yes
54      Sai    6    Male         99.0               1   Yes   No       No
55  Krishna   38    Male         98.7               2   Yes  Yes       No
57    Aarya   64    Male        102.8               1   Yes  Yes       No
58     Diya   43  Female        103.7               9    No   No      Yes
59      Ira   29  Female        103.2               2   Yes   No       No

   Tested for COVID      Result Medicine Given Recovered
1                No  Not tested       Dolo 650       Yes
2               Yes    Negative    Paracetamol        No
4               Yes  Not tested       Dolo 650       Yes
5               Yes    Negative       Dolo 650        No
6               Yes    Positive      Ibuprofen       Yes
7               Yes  Not tested      Ibuprofen        No
8               Yes    Negative       Dolo 650        No
9                No  Not tested       Dolo 650       Yes
10               No  Not tested       Dolo 650        No
11              Yes    Positive       Dolo 650        No
12              Yes  Not tested      Ibuprofen        No
13               No  Not tested    Paracetamol       Yes
18              Yes    Negative    Paracetamol        No
19               No  Not tested      Ibuprofen       Yes
21              Yes    Positive       Dolo 650       Yes
22               No  Not tested      Ibuprofen       Yes
23              Yes    Positive         Crocin       Yes
24               No  Not tested    Paracetamol        No
25              Yes    Negative    Paracetamol        No
26               No  Not tested       Dolo 650        No
28               No  Not tested    Paracetamol       Yes
29              Yes    Positive       Dolo 650        No
31               No  Not tested    Paracetamol       Yes
32               No  Not tested      Ibuprofen        No
33               No  Not tested      Ibuprofen       Yes
34              Yes    Negative         Crocin        No
35               No  Not tested         Crocin        No
37               No  Not tested      Ibuprofen       Yes
38               No  Not tested    Paracetamol        No
41               No  Not tested       Dolo 650       Yes
42               No  Not tested      Ibuprofen       Yes
43               No  Not tested       Dolo 650        No
44              Yes  Not tested      Ibuprofen        No
45              Yes    Negative       Dolo 650        No
46               No  Not tested         Crocin       Yes
48              Yes  Not tested         Crocin        No
49              Yes    Negative       Dolo 650        No
50               No  Not tested    Paracetamol        No
51               No  Not tested         Crocin        No
52              Yes  Not tested         Crocin       Yes
53              Yes  Not tested    Paracetamol        No
54              Yes    Positive      Ibuprofen       Yes
55              Yes  Not tested         Crocin        No
57              Yes    Positive         Crocin       Yes
58               No  Not tested    Paracetamol        No
59              Yes  Not tested       Dolo 650       Yes

In [43]:
# Fill nulls with mode for object
df1=df['Medicine Given'] = df['Medicine Given'].fillna(df['Medicine Given'].mode()[0])
print (df1)

1        Dolo 650
2     Paracetamol
4        Dolo 650
5        Dolo 650
6       Ibuprofen
7       Ibuprofen
8        Dolo 650
9        Dolo 650
10       Dolo 650
11       Dolo 650
12      Ibuprofen
13    Paracetamol
18    Paracetamol
19      Ibuprofen
21       Dolo 650
22      Ibuprofen
23         Crocin
24    Paracetamol
25    Paracetamol
26       Dolo 650
28    Paracetamol
29       Dolo 650
31    Paracetamol
32      Ibuprofen
33      Ibuprofen
34         Crocin
35         Crocin
37      Ibuprofen
38    Paracetamol
41       Dolo 650
42      Ibuprofen
43       Dolo 650
44      Ibuprofen
45       Dolo 650
46         Crocin
48         Crocin
49       Dolo 650
50    Paracetamol
51         Crocin
52         Crocin
53    Paracetamol
54      Ibuprofen
55         Crocin
57         Crocin
58    Paracetamol
59       Dolo 650
Name: Medicine Given, dtype: object

SORTING DATA

In [44]:
# Sort by one column
print(df.sort_values('Age'))

       Name  Age  Gender  Temperature  Fever Duration Cough Cold Headache  \
38    Anaya    1    Male        100.5              10    No  Yes       No
41  Krishna    2    Male        100.5              10   Yes   No      Yes
35  Krishna    5  Female        103.0               8   Yes  Yes       No
46      Ira    6    Male        100.4               1    No  Yes      Yes
54      Sai    6    Male         99.0               1   Yes   No       No
45    Rohan    7  Female        101.6               2   Yes  Yes       No
23    Dhruv    7  Female        103.9               5   Yes  Yes      Yes
12    Aarav    7    Male         99.8              10    No  Yes       No
29     Riya    9  Female        103.3               9   Yes  Yes       No
37   Saanvi   11    Male        102.0               7    No  Yes       No
49      Ira   16  Female        101.9               7   Yes   No       No
4    Vihaan   17    Male        103.0              10   Yes  Yes      Yes
51     Sara   18    Male         99.6               2   Yes  Yes       No
34      Ira   22  Female         99.1               3    No  Yes      Yes
32   Vihaan   25    Male        102.2               6   Yes   No      Yes
59      Ira   29  Female        103.2               2   Yes   No       No
8    Vihaan   30    Male        101.2               4   Yes   No      Yes
13     Diya   31  Female         98.1              10   Yes   No      Yes
26   Vivaan   32    Male        100.6               7    No  Yes       No
52    Anaya   34  Female        101.3               7    No  Yes      Yes
55  Krishna   38    Male         98.7               2   Yes  Yes       No
48   Aditya   39    Male         99.0               3   Yes   No      Yes
33  Krishna   40  Female        100.9               1   Yes  Yes       No
7     Aryan   40    Male         99.3               3    No   No      Yes
22   Saanvi   40    Male        103.1               9    No   No      Yes
19   Saanvi   41    Male        100.1               2    No   No       No
58     Diya   43  Female        103.7               9    No   No      Yes
42   Vihaan   45    Male        101.6               8   Yes   No      Yes
25     Diya   45    Male        102.3               1    No   No       No
50    Meera   45    Male        100.2               9    No  Yes      Yes
1     Aarya   46    Male        100.3               6    No   No       No
9     Rohan   47  Female         98.9               6   Yes  Yes       No
43     Sara   53    Male         98.2               8    No  Yes       No
53      Ira   55  Female        101.0               5   Yes   No      Yes
11    Dhruv   56  Female         99.4               9    No   No      Yes
21     Riya   57  Female        104.0               8   Yes   No      Yes
28    Anaya   58  Female        103.4               1   Yes   No       No
44     Diya   59    Male         98.8               7   Yes  Yes       No
10      Ira   59  Female        101.1               9    No   No       No
57    Aarya   64    Male        102.8               1   Yes  Yes       No
6    Vihaan   66    Male         98.6               2    No  Yes       No
18    Anaya   69    Male        103.0               5    No  Yes      Yes
24     Riya   69  Female        103.9               3    No   No       No
31   Saanvi   69  Female         99.0               3   Yes  Yes       No
2   Krishna   77  Female        101.8               9    No   No      Yes
5     Aarya   78  Female        100.3               8    No  Yes      Yes

   Tested for COVID      Result Medicine Given Recovered
38               No  Not tested    Paracetamol        No
41               No  Not tested       Dolo 650       Yes
35               No  Not tested         Crocin        No
46               No  Not tested         Crocin       Yes
54              Yes    Positive      Ibuprofen       Yes
45              Yes    Negative       Dolo 650        No
23              Yes    Positive         Crocin       Yes
12              Yes  Not tested      Ibuprofen        No
29              Yes    Positive       Dolo 650        No
37               No  Not tested      Ibuprofen       Yes
49              Yes    Negative       Dolo 650        No
4               Yes  Not tested       Dolo 650       Yes
51               No  Not tested         Crocin        No
34              Yes    Negative         Crocin        No
32               No  Not tested      Ibuprofen        No
59              Yes  Not tested       Dolo 650       Yes
8               Yes    Negative       Dolo 650        No
13               No  Not tested    Paracetamol       Yes
26               No  Not tested       Dolo 650        No
52              Yes  Not tested         Crocin       Yes
55              Yes  Not tested         Crocin        No
48              Yes  Not tested         Crocin        No
33               No  Not tested      Ibuprofen       Yes
7               Yes  Not tested      Ibuprofen        No
22               No  Not tested      Ibuprofen       Yes
19               No  Not tested      Ibuprofen       Yes
58               No  Not tested    Paracetamol        No
42               No  Not tested      Ibuprofen       Yes
25              Yes    Negative    Paracetamol        No
50               No  Not tested    Paracetamol        No
1                No  Not tested       Dolo 650       Yes
9                No  Not tested       Dolo 650       Yes
43               No  Not tested       Dolo 650        No
53              Yes  Not tested    Paracetamol        No
11              Yes    Positive       Dolo 650        No
21              Yes    Positive       Dolo 650       Yes
28               No  Not tested    Paracetamol       Yes
44              Yes  Not tested      Ibuprofen        No
10               No  Not tested       Dolo 650        No
57              Yes    Positive         Crocin       Yes
6               Yes    Positive      Ibuprofen       Yes
18              Yes    Negative    Paracetamol        No
24               No  Not tested    Paracetamol        No
31               No  Not tested    Paracetamol       Yes
2               Yes    Negative    Paracetamol        No
5               Yes    Negative       Dolo 650        No

In [49]:

# Sort by multiple columns
print(df.sort_values(['Fever Duration', 'Temperature'], ascending=[True,False]))

       Name  Age  Gender  Temperature  Fever Duration Cough Cold Headache  \
28    Anaya   58  Female        103.4               1   Yes   No       No
57    Aarya   64    Male        102.8               1   Yes  Yes       No
25     Diya   45    Male        102.3               1    No   No       No
33  Krishna   40  Female        100.9               1   Yes  Yes       No
46      Ira    6    Male        100.4               1    No  Yes      Yes
54      Sai    6    Male         99.0               1   Yes   No       No
59      Ira   29  Female        103.2               2   Yes   No       No
45    Rohan    7  Female        101.6               2   Yes  Yes       No
19   Saanvi   41    Male        100.1               2    No   No       No
51     Sara   18    Male         99.6               2   Yes  Yes       No
55  Krishna   38    Male         98.7               2   Yes  Yes       No
6    Vihaan   66    Male         98.6               2    No  Yes       No
24     Riya   69  Female        103.9               3    No   No       No
7     Aryan   40    Male         99.3               3    No   No      Yes
34      Ira   22  Female         99.1               3    No  Yes      Yes
31   Saanvi   69  Female         99.0               3   Yes  Yes       No
48   Aditya   39    Male         99.0               3   Yes   No      Yes
8    Vihaan   30    Male        101.2               4   Yes   No      Yes
23    Dhruv    7  Female        103.9               5   Yes  Yes      Yes
18    Anaya   69    Male        103.0               5    No  Yes      Yes
53      Ira   55  Female        101.0               5   Yes   No      Yes
32   Vihaan   25    Male        102.2               6   Yes   No      Yes
1     Aarya   46    Male        100.3               6    No   No       No
9     Rohan   47  Female         98.9               6   Yes  Yes       No
37   Saanvi   11    Male        102.0               7    No  Yes       No
49      Ira   16  Female        101.9               7   Yes   No       No
52    Anaya   34  Female        101.3               7    No  Yes      Yes
26   Vivaan   32    Male        100.6               7    No  Yes       No
44     Diya   59    Male         98.8               7   Yes  Yes       No
21     Riya   57  Female        104.0               8   Yes   No      Yes
35  Krishna    5  Female        103.0               8   Yes  Yes       No
42   Vihaan   45    Male        101.6               8   Yes   No      Yes
5     Aarya   78  Female        100.3               8    No  Yes      Yes
43     Sara   53    Male         98.2               8    No  Yes       No
58     Diya   43  Female        103.7               9    No   No      Yes
29     Riya    9  Female        103.3               9   Yes  Yes       No
22   Saanvi   40    Male        103.1               9    No   No      Yes
2   Krishna   77  Female        101.8               9    No   No      Yes
10      Ira   59  Female        101.1               9    No   No       No
50    Meera   45    Male        100.2               9    No  Yes      Yes
11    Dhruv   56  Female         99.4               9    No   No      Yes
4    Vihaan   17    Male        103.0              10   Yes  Yes      Yes
38    Anaya    1    Male        100.5              10    No  Yes       No
41  Krishna    2    Male        100.5              10   Yes   No      Yes
12    Aarav    7    Male         99.8              10    No  Yes       No
13     Diya   31  Female         98.1              10   Yes   No      Yes

   Tested for COVID      Result Medicine Given Recovered
28               No  Not tested    Paracetamol       Yes
57              Yes    Positive         Crocin       Yes
25              Yes    Negative    Paracetamol        No
33               No  Not tested      Ibuprofen       Yes
46               No  Not tested         Crocin       Yes
54              Yes    Positive      Ibuprofen       Yes
59              Yes  Not tested       Dolo 650       Yes
45              Yes    Negative       Dolo 650        No
19               No  Not tested      Ibuprofen       Yes
51               No  Not tested         Crocin        No
55              Yes  Not tested         Crocin        No
6               Yes    Positive      Ibuprofen       Yes
24               No  Not tested    Paracetamol        No
7               Yes  Not tested      Ibuprofen        No
34              Yes    Negative         Crocin        No
31               No  Not tested    Paracetamol       Yes
48              Yes  Not tested         Crocin        No
8               Yes    Negative       Dolo 650        No
23              Yes    Positive         Crocin       Yes
18              Yes    Negative    Paracetamol        No
53              Yes  Not tested    Paracetamol        No
32               No  Not tested      Ibuprofen        No
1                No  Not tested       Dolo 650       Yes
9                No  Not tested       Dolo 650       Yes
37               No  Not tested      Ibuprofen       Yes
49              Yes    Negative       Dolo 650        No
52              Yes  Not tested         Crocin       Yes
26               No  Not tested       Dolo 650        No
44              Yes  Not tested      Ibuprofen        No
21              Yes    Positive       Dolo 650       Yes
35               No  Not tested         Crocin        No
42               No  Not tested      Ibuprofen       Yes
5               Yes    Negative       Dolo 650        No
43               No  Not tested       Dolo 650        No
58               No  Not tested    Paracetamol        No
29              Yes    Positive       Dolo 650        No
22               No  Not tested      Ibuprofen       Yes
2               Yes    Negative    Paracetamol        No
10               No  Not tested       Dolo 650        No
50               No  Not tested    Paracetamol        No
11              Yes    Positive       Dolo 650        No
4               Yes  Not tested       Dolo 650       Yes
38               No  Not tested    Paracetamol        No
41               No  Not tested       Dolo 650       Yes
12              Yes  Not tested      Ibuprofen        No
13               No  Not tested    Paracetamol       Yes